
//Naslovna
.naslovna{
    grid-column: center-start/center-end;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;

    
    //MEDIA QUERY phone
    @include respond(phone){
        grid-column: full-start/full-end;
    }

    &__btn{
        align-self: center;
    }

    &__content--1{
        z-index: 10;
        background-color: $color-primary;
        color: $color-white;
        padding: 7rem;
        letter-spacing: .25rem;
        line-height: 1.4;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);

       //MEDIA QUERY phone
       @include respond(phone){
        clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);

        .btn-secondary{
            margin-bottom: 8rem;
        }
    }
        

    }

    &__content--2{
        background-color:$color-light-grey;
        color: $color-primary;
        padding: 20rem 7rem 7rem 7rem;
        letter-spacing: .25rem;
        line-height: 1.4;
        margin-top: -18rem;
      
        position: relative;

        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $color-primary;
            height: 12rem;
            width: 100%;
            clip-path: polygon(0 75%, 100% 0, 100% 100%, 0% 100%);

        }

    }

    &__content-txt{
        font-size: 2.5rem;
        font-family: $font-barHeading; 
        margin-bottom: 7rem;
        
    }
}


//Showcase
.showcase{
    grid-column: center-start/center-end;
    grid-row: 2/3;
    position: relative;

    //MEDIA QUERY phone
    @include respond(phone){
        grid-column: full-start/full-end;
    }

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);

    }

    &__img{
        display: block;
        width: 100%;
        height: 100%;

        
    }

    &__box{
        z-index: 100;
        background-color: orange;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        //Media Query tab-port
        @include  respond(tab-port){
           width: 60%;
        }

        //MEDIA QUERY phone
        @include respond(phone){
            width: 100%;
            font-size: 4rem;
        }

        font-family: $font-showcase;
        font-size: 3rem;
        text-transform: uppercase;
        padding: 3rem 6rem;
        text-align: center;
        background-color: rgba(204, 194, 194, 0.4);
        color: $color-white;


        &-heading--one,
        &-heading--two{
            display: block;

                
                
        }

        &-heading--one{
            border-top: 3px solid #fff;
            border-bottom: 3px solid #fff;
            margin-bottom: .5rem;

            //Media Query tab-port
            @include  respond(tab-port){
                display: inline-block;
            }

            //MEDIA QUERY phone
            @include respond(phone){
                display: inline-block;
            }
        }
    }
}


